@charset "UTF-8";

/*
Theme Name: Alternalte Literature
Author: Palefire
Author URI: https://thepalefire.com
Description: A palefite theme for Alternate Literature.
Requires at least: 5.3
Tested up to: 5.6
Requires PHP: 5.6
Version: 1.0
*/
@font-face {
  font-family: HelveticaNowDisplay;
  src: url(assets/fonts/HelveticaNowDisplay-Regular.ttf);
}
@font-face {
  font-family: GraphikMedium;
  src: url(assets/fonts/GraphikMedium.otf);
}
@font-face {
  font-family: Manrope;
  src: url(assets/fonts/Manrope-Medium.ttf);
}
@font-face {
  font-family: Butler;
  src: url(assets/fonts/Butler_Regular.otf);
}
:root {
          
          --theme-color:#FF3633;
        }
.desk-header{position:fixed; height:60px; width:100%;background-color:#fff;top: 0; left: 0; z-index:99;}
.desk-header .left-head{ float:left;height:100%; width:35%;text-align:center;padding-top: 7px }
.desk-header .left-head .logo{font-size: 30px;color: #000000;font-weight: 400;text-decoration: none;}
.desk-header .left-head .logo span{font-weight: 500}
.desk-header .right-head{ float:right; height:100%; width:65%;padding-top: 18px}
.desk-header .right-head-up{ height: 50%;}
.desk-header .right-head-down{ height:50%;margin-left:250px; }
.desk-header .right-head-up-ul{ float:right; list-style: none; margin: 8px 165px 0 0;}
.desk-header .right-head-up-ul li{ float:left; margin:0 10px 0 0; }
.desk-header .right-head-up-span{ color:red; text-transform:uppercase; font-size: 11px; color:#878787;}
.desk-header .right-head-down-ul{ list-style: none; }
.desk-header .right-head-down-ul li{float: left; margin:0 40px 0 0;}
.desk-header .right-head-down-span{text-transform:uppercase;font-size:13px;font-weight:500}
.desk-header .right-head-down-span a{color:#3E3E3E;text-decoration:none;}
.desk-header .margin-bottom{margin-top:3px}
.desk-header .margin-right{margin:0px -10px 0px 35px}
.desk-header .drop-a{text-decoration:none;font-size:13px;font-weight:500;}
.desk-header .drop-a:hover{text-decoration:none;}
.mobile-header{display: none}
.header-pad{padding-top: 60px;}

body{margin: 0;padding: 0;font-family: 'HelveticaNowDisplay', sans-serif;}

.unknown-first .first-section{background-color: #ffffff;height:100vh;width:100%;display: block;overflow: hidden;}
.unknown-first .first-section .content{height:100vh;width:100%;display:block;overflow: hidden;}
.unknown-first .first-section .content .left-side{width:50%;height: 100%;display: block;overflow: hidden;float: left;position: relative;}
.unknown-first .first-section .content .right-side{background-color: #E3DFDF;width:50%;height: 100%;display: block;overflow: hidden;float: left;position: relative;}
.unknown-first .first-section .content .left-side .top-one{font-size: 26px;color: red;position: absolute;top:71px; left:50px; font-weight: bold}
.unknown-first .first-section .content .left-side .midle-one{position: absolute;top:100px; left:36px;}
.unknown-first .first-section .content .left-side .midle-one img{width: 60%}
.unknown-first .first-section .content .left-side .bottom-one{font-size: 16px;color: #000000;position: absolute;bottom:50px;left:50px;}
.unknown-first .first-section .content .right-side .content{width:100%;height: 100%;display: block;overflow: hidden;position: relative;}
.unknown-first .first-section .content .right-side .content .top-brought{font-size:12px;letter-spacing: 1px;font-weight: 500;position: absolute;right: 35px;top: 55px}
.unknown-first .first-section .content .right-side .content .top-brought span{font-size:20px}
.unknown-first .first-section .content .right-side .content .first-round{height: 70px; width: 70px;border-radius: 50%; position: absolute; right: 30px; top: 235px;}
.unknown-first .first-section .content .right-side .content .second-round{height: 70px; width: 70px;border-radius: 50%; position: absolute; right: 30px; top: 290px;}
.unknown-first .first-section .content .right-side .content .third-round{height: 70px; width: 70px;border-radius: 50%; position: absolute; right: 30px; top: 350px;}
.unknown-first .first-section .content .right-side .content .roundable img{width: 100%;height: 100%;border-radius: 50%}
.unknown-first .first-section .content .right-side .content .bottom-arrow{position: absolute;bottom: 75px;right:25px;font-size: 50px;color: red}
.unknown-first .first-section .content .right-side .content .center-part{width: 460px; margin: 0 auto; height: 500px; background-color: #ffffff; margin-top: 60px;padding: 20px}
.unknown-first .first-section .content .right-side .content .center-part .year-part{font-size:16px;color: red;float: left;}
.unknown-first .first-section .content .right-side .content .center-part .free-part{font-size: 12px;text-align: right;}
.unknown-first .first-section .content .right-side .content .center-part .free-part span{font-size: 16px;color: red;margin-left: 5px;letter-spacing: 1px}
.unknown-first .first-section .content .right-side .content .center-part .all-percentage{width: 100%;height: auto;display: block;overflow: hidden;}
.unknown-first .first-section .content .right-side .content .center-part .single-percentage{width: 33.3%;height: auto;display: block;float: left;overflow: hidden;}
.unknown-first .first-section .content .right-side .content .center-part .topic{width: 100%; height: auto; display: block; overflow: hidden;margin: 30px 0px 20px 0px}
.unknown-first .first-section .content .right-side .content .center-part .topic h2{font-size:20px;font-weight: 600}
.unknown-first .first-section .content .right-side .content .center-part .topic h6{font-size: 12px}
.unknown-first .first-section .content .right-side .content .center-part .topic p{font-size: 10px;margin: 0px}
.unknown-first .first-section .content .right-side .content .center-part .topic.bor-left{border-left:1px solid red;padding: 0px 10px}
.unknown-first .first-section .content .right-side .content .center-part .img-box{width:100%;height: 280px;display: block;overflow: hidden;} 
.unknown-first .first-section .content .right-side .content .center-part .img-box img{width: 100%;height: 100%}
.unknown-first .first-section .content .right-side .content .center-part .bottom-content{height:100%;width: 100%;display: block;overflow: hidden;position: relative;}
.unknown-first .first-section .content .right-side .content .center-part .bottom-content .left-con{font-size: 12px;position: absolute;left: 0px;top: 15px;}
.unknown-first .first-section .content .right-side .content .center-part .bottom-content .right-con{font-size: 12px;position: absolute;right: 0px;top: 15px;}
.unknown-first .first-section .content .right-side .content .center-part .bottom-content .right-con span{font-size:13px;font-weight: 500;letter-spacing: 1px;margin-left: 5px}

.unknown-second .first-section{width: 100%;height: 140vh;background-color: #272727;display: flex; align-items: center; justify-content: center;}
.unknown-second .first-section .content{color: #ffffff;width:625px;height: 253px}
.unknown-second .first-section .content .firstpstyle{font-size: 22px;font-weight:500;line-height: 30px; text-align: justify;}
.unknown-second .first-section .content .secondpstyle{text-align: center;font-size: 22px; color: #DE543F}
.unknown-third .first-section{width:100%;height: 100vh;display: block;overflow: hidden;position: relative;}
.unknown-third .first-section .left-side{width: 50%;height: 100%;display: block;float: left;overflow: hidden;position: relative;background-color: #ffffff;}
.unknown-third .first-section .left-side .left-content{position: absolute;left: 50px;top: 100px;display: block;}
.unknown-third .first-section .left-side .left-content h6{font-size: 10px;letter-spacing: 1px;margin-bottom: 0px}
.unknown-third .first-section .left-side .left-content p{font-size: 22px;}
.unknown-third .first-section .left-side .right-content{position: absolute;right: 150px;top: 100px;display: block;}
.unknown-third .first-section .left-side .right-content h6{font-size: 10px;letter-spacing: 1px;margin-bottom: 0px}
.unknown-third .first-section .left-side .right-content p{font-size: 22px;}
.unknown-third .first-section .midle-content{position: absolute;left: 47px;top: 200px;font-size: 115px;color: #FF3633;line-height: 125px;font-weight: 700}
.unknown-third .first-section .right-side{width: 50%;height: 100%;display: block;float: left;overflow: hidden;background-image: url("https://images.pexels.com/photos/5257551/pexels-photo-5257551.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");background-size: cover;background-repeat: no-repeat;}


.unknown-fourth .first-section{width: 100%;height: auto;display: block;overflow: hidden;position: relative;}
.unknown-fourth .first-section .left-side{width: 30%;height: auto;display: block;overflow: hidden;float: left;padding:72px 0px 0px 50px}
.unknown-fourth .first-section .left-side .title{font-size:30px;line-height: 30px;font-weight: 600;color:#FF3633;}
.unknown-fourth .first-section .left-side .author{font-size: 10px;letter-spacing: 1px;text-transform: uppercase;font-weight: 600}
.unknown-fourth .first-section .midle-side{width: 50%;height: auto;display: block;overflow: hidden;float: left;padding-top: 50px}
.unknown-fourth .first-section .midle-side .content-title{font-size:14px;text-transform: uppercase;line-height: 20px;font-weight: 600 }
.unknown-fourth .first-section .midle-side .all-content{font-size: 16px;font-weight: 400;margin-top: 20px}
.unknown-fourth .first-section .midle-side .all-content p{text-align: justify}
.unknown-fourth .first-section .midle-side .all-content p a{color: var(--theme-color)}
.unknown-fourth .first-section .midle-side .all-content p a:hover{text-decoration: none}
.unknown-fourth .first-section .right-side{width: 20%;height: auto;display: block;overflow: hidden;float: left;}
.unknown-fourth .first-section .bottom-arrow{position: absolute;bottom: 75px;left:50px;font-size: 50px;color: red}


.unknown-fifth .first-section{background-image: url("https://alternativeliterature.com/wp-content/uploads/2021/01/image-placeholder.jpg");background-repeat: no-repeat;background-size: cover;overflow: hidden;height: 50vh;width: 100%; position: relative;}
.unknown-fifth .first-section .shadow{position: absolute; top: 0; left: 0; background:rgba(0,0,0,0.2); z-index: 99;height: 100%; width: 100%}
.unknown-fifth .first-section .content{margin-left: 50%; transform: translateX(-50%); margin-top: 90px; text-align: center;}
.unknown-fifth .first-section .content .title{font-size: 72px;color: #ffffff;font-weight: 400; margin-bottom: 15px}
.unknown-fifth .first-section .content .author{font-size: 12px;color: #ffffff}
.unknown-fifth .first-section .content .author a{font-size: 12px;padding: 14px 28px; border: 1px solid #272727; background: #fff; color: #272727;}
.unknown-fifth .first-section .content .author a:hover{text-decoration: none; color: #fff; background: #272727}
.unknown-fifth .second-section{padding:50px;display: block;overflow: hidden;}
.unknown-fifth .second-section .topic{width: 100%;display: block; height: auto}
.unknown-fifth .second-section .topic p{font-size: 14px; text-align: center; letter-spacing: 1px; margin-top: 10px}
.unknown-fifth .second-section .topic p.inside-topic{margin-bottom: 2px; text-align: justify; line-height: 19px}
.unknown-fifth .second-section .topic p a{color: #000; text-decoration: none; border-right: 1px solid #E74832; margin-right: 4px;padding-right: 4px}
.unknown-fifth .second-section .topic p a:hover{color: #E74832}
.unknown-fifth .second-section .topic p a span{ }
.unknown-fifth .second-section .topic p a:last-child{border-right: none; }
.unknown-fifth .second-section .topic img{width: 100%;height: 510px; object-fit: cover; object-position: center;}
.unknown-fifth .second-section .topic h5{text-align: center;}
.unknown-fifth .second-section .topic h4{text-align: center;font-size: 15px;color:red;}
.unknown-fifth .second-section .topic h4 span{}
.unknown-fifth .second-section .topic h5 a{color: #272727; text-decoration: none; text-transform: uppercase;}


.unknown-sixth{height: 100vh}
.unknown-sixth .first-section{background-color: #ffffff;display: block;overflow: hidden;height: auto;width: 100%}
.unknown-sixth .first-section .left-side{width: 60%;height:auto;display: block;overflow: hidden;float: left;background-color: #ffffff;padding:0px 300px 0px 50px }
.unknown-sixth .first-section .left-side .content{width:100%;height: auto;display: block;overflow: hidden;padding-top: 200px}
.unknown-sixth .first-section .left-side .content .top-title{font-size: 18px;font-weight: 500;border-bottom: 2px solid #e89e94; width: 400px; padding-bottom: 10px;text-align: justify;}
.unknown-sixth .first-section .left-side .content .top-head{font-size: 14px;line-height: 18px;color: #000; text-align: justify;width: 400px;}
.unknown-sixth .first-section .left-side .content .topa-auth{font-size: 12px;font-weight: 700;letter-spacing: 1px;color: #000; text-align: justify; width: 400px;}
.unknown-sixth .first-section .left-side .content .bottom-topic{font-size: 14px;color: #000;padding-top: 50px;line-height: 20px; text-align: justify; width: 400px;}
.unknown-sixth .first-section .right-side{width: 40%;height:auto;display: block;overflow: hidden;float: left;background-color: #F7FBFE;padding:50px}
.unknown-sixth .first-section .right-side .content{width:100%;height: auto;display: block;overflow: hidden;}
.unknown-sixth .first-section .right-side .content .{width:100%;height: auto;display: block;overflow: hidden;}
.unknown-sixth .first-section .right-side .content .topic{margin-bottom: 25px}
.unknown-sixth .first-section .right-side .content .topic h6{font-size:12px;letter-spacing: 2px;;color: #000;margin-bottom: 5px; text-transform: uppercase;font-family:GraphikMedium }
.unknown-sixth .first-section .right-side .content .topic li{list-style: none;line-height: 20px}
.unknown-sixth .first-section .right-side .content .topic li a{color: #000;text-decoration: none;font-size: 13px; font-family:Manrope}


.unknown-seventh{}
.unknown-seventh .first-section{background-color: #ffffff;display: block;overflow: hidden;height: auto;width: 100%}
.unknown-seventh .first-section .left-side{width: 60%;height:100vh;display: block;overflow: hidden;float: left;background-color: #ebf2fc;padding:50px 50px 50px 50px }
.unknown-seventh .first-section .left-side .content{font-size: 42px;font-weight: 600;color: #000;letter-spacing: 2px; font-family: Butler}
.unknown-seventh .first-section .right-side{width: 40%;height:100vh;display: block;overflow: hidden;float: left;background-color: #E74832;padding:54px 281px 50px 50px}
.unknown-seventh .first-section .right-side .topic{text-decoration: none;}
.unknown-seventh .first-section .right-side .topic h2{font-size: 30px;font-weight: 600;color: #ffffff;letter-spacing: 2px; font-family: Butler}
.unknown-seventh .first-section .right-side .topic p{font-size: 16px;font-weight: 600;color: #000;letter-spacing: 1px}


.unknown-eight{}
.unknown-eight .first-section{width: 100%;height: auto;display: block;overflow: hidden;overflow: hidden;}
.unknown-eight .first-section .content{display: block;width: 100%;height: auto;overflow: hidden;}
.unknown-eight .first-section .content .heading{text-align: center;font-size:100px;font-weight: 900;letter-spacing: 1px;color: #000 }
.unknown-eight .first-section .content .second-heading{text-align: center;font-size: 50px;font-weight: 700;color: #e74832}
.unknown-eight .first-section .content .word{text-align: center;font-size: 12px;text-transform: capitalize;font-weight: 600;letter-spacing: 1px;color: #000;margin-bottom: 5px;margin-top: 25px}
.unknown-eight .first-section .content .author{text-align: center;font-size: 14px;color:#000}
.unknown-eight .first-section .content .all-item{font-size: 14px;color:#000;padding: 20px 450px}

.unknown-nine{}
.unknown-nine .first-section{height: 100vh;width: 100%;display: block;overflow: hidden;background-color: #272727;padding: 0px 80px}
.unknown-nine .first-section .head-top{height: 140px;width: 100%;display: block;position: relative;}
.unknown-nine .first-section h1{color: #ffffff;text-transform: capitalize;padding: 0 25px;line-height: 119px;z-index: 1;margin: auto;display: table;text-align: center}
.unknown-nine .first-section .content{width: 100%;height: auto;display: block;overflow: hidden;}
.unknown-nine .first-section .content a{text-decoration: none}
.unknown-nine .first-section .content a:hover{text-decoration: none}
.unknown-nine .first-section .content .topic{width: 100%;height: auto;display: block;overflow: hidden;}
.unknown-nine .first-section .content .topic .img-box{width: 100%;height: 350px;display: block;overflow: hidden;}
.unknown-nine .first-section .content .topic .img-box img{width: 100%;height: 100%}
.unknown-nine .first-section .content .topic .item{font-size: 25px;color: #ffffff;font-weight: 400;text-align: center;margin-top: 10px;position: relative;}
.unknown-nine .first-section .content .topic h4{text-align: center;color: #fff; font-size: 15px}
/*.unknown-nine .first-section .content .topic .item::before{content: '';position: absolute;left: 0;top: 25px;height: 2px;width: 80px;background-color: #ffffff}*/
.unknown-nine .first-section .content .topic .item p{margin-bottom: 0px}


.unknown-tenth .first-section{background-image: url("https://alternativeliterature.com/wp-content/uploads/2021/01/image-placeholder.jpg");background-repeat: no-repeat;background-size: cover;overflow: hidden;height: 50vh;width: 100%; position: relative;}
.unknown-tenth .first-section .shadow{position: absolute; top: 0; left: 0; background:rgba(0,0,0,0.2); z-index: 99;height: 100%; width: 100%}
.unknown-tenth .first-section .content{margin-left:50%; transform: translateX(-50%); margin-top: 90px; text-align: center}
.unknown-tenth .first-section .content .title{font-size: 72px;color: #ffffff;font-weight: 400;}
.unknown-tenth .first-section .content .author{font-size: 12px;color: #ffffff}
.unknown-tenth .first-section .content .author a{font-size: 12px;padding: 14px 28px; border: 1px solid #272727; background: #fff; color: #272727;}
.unknown-tenth .first-section .content .author a:hover{text-decoration: none; color: #fff; background: #272727}
.unknown-tenth .second-section{margin-top: 20px; padding: 50px }
.unknown-tenth .second-section a{color: #000; }
.unknown-tenth .second-section a:hover{text-decoration: none; color: #000}
.unknown-tenth .second-section a h1{text-align: center; font-size: 30px; margin-bottom: 20px}
.unknown-tenth .second-section p{text-align: justify; font-size: 15px;line-height: 20px }
.unknown-tenth .second-section h4{font-size: 17px}
.unknown-tenth .second-section h4 span{margin-right: 15px; font-weight: bold}
.unknown-tenth .second-section h4 label{}