@media screen and (max-device-width: 600px){
	.desk-header{display: none}
	
	.mobile-header{display: block;position: fixed;top: 0; left: 0;width: 100%;z-index: 99}
	.mobile-header .logo{font-size: 22px;color: #000;text-decoration: none;}
	.mobile-header ul li{font-size: 13px}
	.mobile-header ul li a{font-size: 11px}
	.unknown-first .first-section .content .left-side{height: 50vh;width: 100%;}
	.unknown-first .first-section .content .right-side{height: 50vh;width: 100%;}
	.unknown-first .first-section .content .left-side .top-one{left: 37px;top: 45px}
	.unknown-first .first-section .content .left-side .midle-one{left: 60px;top: 75px}
	.unknown-first .first-section .content .left-side .bottom-one{font-size: 14px;padding-right: 50px}
	.unknown-second .first-section{height: 60vh}
	.unknown-second .first-section .content{width: 100%;height: 100%;padding: 50px}
	.unknown-second .first-section .content .firstpstyle{font-size: 15px;line-height: 22px}
	.unknown-second .first-section .content .secondpstyle{font-size: 17px}
	.unknown-fifth .first-section{height: 25vh}
	.unknown-fifth .first-section .content{padding: 50px; margin-top: 0px}
	.unknown-fifth .first-section .content .author a{padding: 7px 5px}
	.unknown-fifth .first-section .content .title{font-size: 24px}
	.unknown-fifth .second-section .topic{height: auto; margin-bottom: 20px}
	.unknown-fifth .second-section .topic img{height: 65%}
	.unknown-fifth .second-section .topic h5{font-size: 16px}
	.unknown-fifth .second-section .topic h4{font-size: 14px}
	.unknown-seventh .first-section .left-side{width: 100%;height: 17vh}
	.unknown-seventh .first-section .right-side{width: 100%;height: 60vh}
	.unknown-seventh .first-section .left-side .content{font-size: 34px}
	.unknown-seventh .first-section .right-side .topic h2{font-size: 26px}
	.unknown-nine .first-section{width: 100%;height: 50vh;padding: 50px}
	.unknown-nine .first-section h1{font-size: 34px;line-height: 34px;padding: 0px}
	.unknown-sixth .first-section .left-side{width: 100%;padding: 50px;}
	.unknown-sixth .first-section .left-side .content{padding: 0px}
	.unknown-sixth .first-section .right-side{width: 100%;}
	.unknown-nine .first-section{height: auto}

	.unknown-tenth .first-section{height: 25vh}
	.unknown-tenth .first-section .content{padding: 50px; margin-top: 0px}
	.unknown-tenth .first-section .content .author a{padding: 7px 5px}
	.unknown-tenth .first-section .content .title{font-size: 24px}

	.unknown-third .first-section{height: 80vh}
	.unknown-third .first-section .right-side{width: 100%;float: right;height: 40vh}
	.unknown-third .first-section .left-side{width: 100%;float: left;height: 40vh}
	.unknown-third .first-section .midle-content{font-size: 30px;line-height: 35px;left: 0px 50px}
	.unknown-third .first-section .left-side .left-content{left: 50px;top: 25px}
	.unknown-third .first-section .left-side .left-content p{font-size: 18px}
	.unknown-third .first-section .left-side .right-content{right: 170px;top: 90px}
	.unknown-third .first-section .left-side .right-content p{font-size: 18px}
	.unknown-fourth .first-section .left-side{display: none;}
	.unknown-fourth .first-section .right-side{display: none;}
	.unknown-fourth .first-section .midle-side{width: 100%;padding: 30px}
	.unknown-fourth .first-section .midle-side .all-content{font-size: 14px;}
}	